/* ===Подключаем шрифты==================================================================================================================================================== */

/* &display=swap&subset=cyrillic-ext */

/* -----Normalize------------------------------------------------------------------------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}
body {
	font-family: "arial", sans-serif;
	line-height: 1;
	color: #000;
	background-color: #272727;
}

div[class*="__container"] {
	max-width: 908px;
	margin: 0px auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* -----Main-CSS------------------------------------------------------------------------------------------------------------------------------------------- */

/* ======= HEADER ========================================================================================================================================= */

/* ======== PAGE ========================================================================================================================================== */
.page {
	position: relative;
}
.page__background {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100vh;
}
/* ======================================================================================================================================================== */
.background {
	width: 32768px;
}
.background__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/bg-min.png") bottom right / contain repeat-x;
	transform: translate(-40%, 0px);
	animation: roadAnim 800s linear;
}
@keyframes bgAnim {
	0% {
		transform: translate(-40%, 0px);
	}
	100% {
		transform: translate(0%, 0px);
	}
}
.block-basic__message {
	position: absolute;
	top: -240px;
	left: 50%;
	transform: translate(-35%, 0%);
	max-width: 300px;
	font-size: 20px;
	line-height: 120%;
	font-weight: 700;
	color: #000;
	background-color: #fff;
	text-align: center;
	border-radius: 20px;
	padding: 40px 20px;
	opacity: 0;
	visibility: hidden;
	animation: message-opacity 12.5s forwards ease 8s;
}
@keyframes message-opacity {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	8% {
		opacity: 1;
		visibility: visible;
	}
	92% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.block-basic__message::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 35%;
	transform: translate(0%, 50%);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid #fff;
}
.background__road {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44.68%;
	background: url("../img/bg-road-min.png") right bottom / 4096px 92.87% repeat-x;
	transform: translate(-90%, 0px);
	animation: roadAnim 30s linear, roadAnimEnded 300s linear 30s;
}
@keyframes roadAnim {
	0% {
		transform: translate(-90%, 0px);
	}
	100% {
		transform: translate(-50%, 0px);
	}
}
@keyframes roadAnimEnded {
	0% {
		transform: translate(-50%, 0px);
	}
	100% {
		transform: translate(-10%, 0px);
	}
}
.road__birds,
.bg__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.road__bird {
	position: absolute;
	bottom: 10%;
	right: 10%;
}
.bg__bird {
	position: absolute;
}
.bg__bird_one {
	top: 5%;
	right: 11%;
	animation: bird-fly-one 5s forwards linear 8s;
}
.bg__bird_two {
	top: 40%;
	right: 13%;
	height: 30px;
	width: 30px;
	animation: bird-fly-two 10s forwards linear 1s;
}
.bg__bird_three {
	top: 34%;
	right: 14%;
	height: 20px;
	width: 20px;
	animation: bird-fly-three 13s forwards linear 1s;
}
.bg__bird_four {
	top: 10%;
	right: 14%;
	animation: bird-fly-four 4s forwards linear 1s;
}
.bg__bird_five {
	top: 8%;
	height: 40px;
	width: 40px;
	right: 16%;
	animation: bird-fly-five 14s forwards linear 7s;
}
.bg__bird_six {
	top: 4%;
	height: 10px;
	width: 22px;
	right: 2.5%;
	animation: bird-fly-six 35s forwards linear 0s;
}
.bg__image {
	max-width: 100%;
}
.bg__bird_six::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1300px;
	height: 2px;
	background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
	filter: blur(3px) drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
	transform: translate(100%, -50%);
	/* box-shadow: 0px 0px 6px #fff; */
}
@keyframes bird-fly-one {
	0% {
		right: 11%;
	}
	100% {
		right: 3%;
	}
}
@keyframes bird-fly-two {
	0% {
		right: 13%;
	}
	100% {
		right: 3%;
	}
}
@keyframes bird-fly-three {
	0% {
		right: 14%;
	}
	100% {
		right: 3%;
	}
}
@keyframes bird-fly-four {
	0% {
		transform: rotate(0deg);
		top: 0%;
		right: 13%;
	}
	100% {
		transform: rotate(70deg);
		top: 70%;
		right: 1%;
	}
}
@keyframes bird-fly-five {
	0% {
		right: 16%;
	}
	100% {
		right: 3%;
	}
}
@keyframes bird-fly-six {
	0% {
		right: 2.5%;
	}
	100% {
		right: 19%;
	}
}
.car {
	position: absolute;
	bottom: 25%;
	left: 3%;
	animation: startAnim 5s ease forwards 0s, endAnim 5s ease forwards 25s;
}
@keyframes startAnim {
	0% {
		left: 8%;
	}
	100% {
		left: 3%;
	}
}
@keyframes endAnim {
	0% {
		left: 3%;
	}
	100% {
		left: -4%;
	}
}
.block-basic {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, 0%) scale(0.7);
}
.block-basic__main::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: -75px;
	left: 0;
	z-index: 2;
	border-radius: 50%;
}
.block-basic__main::before {
	filter: blur(1.8px);
	transform: scalex(0.98);
}
.block-basic__main {
	position: relative;
	width: 908px;
	height: 160px;
	background: linear-gradient(
			180deg,
			rgba(242, 242, 244, 1) 0%,
			rgba(242, 242, 244, 1) 7%,
			rgba(167, 168, 172, 1) 40%,
			rgba(207, 207, 209, 1) 70%,
			rgba(207, 207, 209, 1) 80%
		),
		linear-gradient(-6deg, #454547 0%, #454547 23%, #ceced0 28%, #ceced0 100%),
		linear-gradient(135deg, #afafb1 0%, #ceced0 100%);
	border-radius: 326px 43px 77px 189px / 90px 89px 78px 35px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4), -3px 1px 3px rgba(0, 0, 0, 0.4);
	z-index: 1;
}
.block-basic__wheel {
	padding: 10px;
	background: linear-gradient(to bottom, #010101 0%, #010101 70.8%, #01010100 70.8%);
	border-radius: 50% 50% 40% 40%;
	width: 166px;
	height: 166px;
	position: absolute;
	bottom: -48px;
	z-index: 2;
}
.block-basic__wheel_left {
	left: 95px;
}
.block-basic__wheel_right {
	right: 61px;
}
.block-basic__tire {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #1e1e20;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	animation: rotateNormal 0.5s 6 linear forwards, rotateNormal 0.6s 4 linear forwards 3s,
		rotateNormal 0.7s linear infinite 5s, rotateNormal 0.5s linear infinite 25s;
}
@keyframes rotateNormal {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
.block-basic__text {
	position: absolute;
	top: 25px;
	left: 247px;
	z-index: 51;
	text-transform: uppercase;
	color: #8f9094;
	font-size: 10px;
	font-weight: 700;
	background: linear-gradient(to right, #696a6e 0%, #8f9094 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #696a6e;
}
.block-basic__disk {
	width: 115px;
	height: 115px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #fcfbfe;
	padding: 5px;
	box-shadow: 0px 0px 2px #000 inset;
}
.block-basic__decor-disk {
	width: 47%;
	height: 15px;
	background-color: #fefeff;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50% 4px 4px 50%;
	transform-origin: top left;
	z-index: 1;
	box-shadow: 0px -1px 2px #000, 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}
.block-basic__decor-disk:nth-child(1) {
	transform: rotate(0deg) translate(0%, -50%);
}
.block-basic__decor-disk:nth-child(2) {
	transform: rotate(72deg) translate(0%, -50%);
}
.block-basic__decor-disk:nth-child(3) {
	transform: rotate(144deg) translate(0%, -50%);
}
.block-basic__decor-disk:nth-child(4) {
	transform: rotate(216deg) translate(0%, -50%);
}
.block-basic__decor-disk:nth-child(5) {
	transform: rotate(288deg) translate(0%, -50%);
}
.block-basic__disk-inside {
	width: 100%;
	height: 100%;
	background-color: #1b1b1d;
	border-radius: 50%;
	padding: 6px;
}
.block-basic__disp__emptiness {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #000;
	padding: 8px;
}
.block-basic__disk-torkemose {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #78797d;
	padding: 17px;
}
.block-basic__disk-mid-exterior {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #eaebef;
	padding: 9px;
}
.block-basic__disk-mid {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #b1b2b6;
	position: relative;
	z-index: 2;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1) inset;
}
/* ======================================================================================================================================================== */
.block-basic__threshold {
	border-top: 1px solid #a4a3a8;
	width: 422px;
	height: 29px;
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translate(-45.8%, 0%) rotate(0deg) skew(0deg, -1.2deg);
	background: radial-gradient(ellipse at 243px, #a4a3a8 18%, #edecf1 39%);
	box-shadow: 0px 0px 15px #a4a3a8 inset;
	z-index: 50;
}
.block-basic__near-door {
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translate(-45.8%, 0%) skew(0deg, -2deg);
	background-color: #f2f1f5;
	height: 15px;
	width: 422px;
	border-radius: 50% 0 0 0;
	z-index: 49;
	box-shadow: 0px 0px 15px #a4a3a8 inset;
}
.block-basic__door {
	width: 300px;
	height: 139px;
	background: linear-gradient(
			180deg,
			rgba(242, 242, 244, 1) 0%,
			rgba(242, 242, 244, 1) 7%,
			rgba(167, 168, 172, 1) 40%,
			rgba(207, 207, 209, 1) 66%,
			rgba(207, 207, 209, 1) 80%
		),
		linear-gradient(-6deg, #454547 0%, #454547 23%, #ceced0 28%, #ceced0 100%),
		linear-gradient(135deg, #afafb1 0%, #ceced0 100%);
	position: absolute;
	bottom: 19px;
	left: 50%;
	transform: translate(-59%, 0%) rotate(-1.5deg);
	border-radius: 10px 0 0 0 / 20px 0 0 0;
	z-index: 47;
	border-left: 1px solid #e0dfe4;
}
.door-basic__shadow {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 22px;
	transform: rotate(-5deg);
	box-shadow: 0px 0px 90px 10px #454547 inset, -1px -3px 5px #454547;
}
.door-basic__pen {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 45px;
	height: 11px;
	border: 1px solid #aeafb3;
	border-radius: 2px;
	transform: skew(-40deg);
}
.door-basic__lock {
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(0%, -50%) skew(40deg);
	border-radius: 50%;
	background-color: #bdbec2;
	width: 5px;
	height: 5px;
}
.door-basic__lock-inside {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #9d9ea2;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.block-basic__door-back {
	width: 110px;
	height: 175px;
	background-color: #454547;
	position: absolute;
	bottom: 19px;
	left: 50%;
	transform: skew(-19deg) translate(93%, 0%);
	border-radius: 0 30% 50% 0;
	z-index: 48;
	filter: blur(0.6px);
}
.block-basic__door-back::before {
	content: "";
	width: 83%;
	height: 30px;
	position: absolute;
	top: -6px;
	left: 0;
	background-color: inherit;
	transform: skew(0deg);
	border-radius: 0 50% 0 0;
}
.block-basic__window {
	position: absolute;
	top: -72px;
	left: 50%;
	z-index: 46;
	transform: translate(-56.5%, 0%);
}
.block-basic__window::before {
	content: "";
	position: absolute;
	width: 112%;
	height: 15px;
	background-color: rgb(237, 237, 238);
	border-radius: 15%;
	bottom: -6px;
	left: 50%;
	z-index: 51;
	transform: translate(-50%, 0%);
}
.block-basic__window::after {
	content: "";
}
.window-basic {
	width: 305px;
	height: 85px;
	border-radius: 183px 203px 0px 0px / 85px 68px 15px 0px;
	background-color: #000;
}
.window-basic__inside {
	background: #100f0e url("../img/photo.png") top right 90px / 105px 100px no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(0.88);
	border-radius: inherit;
	filter: blur(0.5px);
}
.window-basic__window {
	width: 100%;
	height: 100%;
	background-color: rgba(44, 44, 44, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	transition: all 0.8s linear 0s;
	z-index: 2;
	animation: windowOpen 2s 1 ease forwards 5s, windowClose 2s 1 ease forwards 20s;
}

@keyframes windowOpen {
	0% {
		transform: translate(0px, 0%);
	}
	100% {
		transform: translate(0px, 80%);
	}
}
@keyframes windowClose {
	0% {
		transform: translate(0px, 80%);
	}
	100% {
		transform: translate(0px, 0%);
	}
}
/* .window-basic__inside:hover .window-basic__window{
	transform: translate(0px, 100%);
} */
.window-basic__windshield {
	width: 102%;
	height: 102%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 30px 5px 3px #000 inset, -19px -12px 3px #000 inset;
	border-radius: inherit;
	z-index: 3;
}
.window-basic__steering-wheel {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(45deg, #000 0%, #68686a 20%, #000 30%, #000 45%, #68686a 60%, #000 75%, #000 100%);
	width: 33px;
	height: 21px;
	position: absolute;
	bottom: 12px;
	left: 21px;
	border-radius: 0 50% 0 30%;
	filter: blur(0.6px);
	z-index: 1;
}
.window-basic__sitting {
	width: 40px;
	height: 65px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(to right, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 45%, #68686a 60%, #000 75%, #000 100%);
	position: absolute;
	bottom: 0;
	right: 46px;
	transform: skew(-15deg);
	border-radius: 30% 5% 0 0;
	filter: blur(0.6px);
	z-index: 1;
}
.block-basic__top {
}
.top-basic {
	position: absolute;
	top: -83px;
	left: 50%;
	z-index: 46;
	transform: translate(-58%, 0%);
	background-color: rgb(237, 237, 238);
	z-index: 46;
	width: 320px;
	height: 96px;
	border-radius: 183px 203px 0px 0px / 85px 68px 15px 0px;
}
.window-basic__windshield::before,
.window-basic__windshield::after {
	content: "";
	width: 37px;
	height: 82px;
	position: absolute;
	top: 4px;
	left: 6px;
	transform: skew(-51deg);
	transform-origin: top left;
	border-radius: 50% 0 30% 0;
}
.window-basic__windshield::before {
	background-color: rgb(237, 237, 238);
	border-radius: 0;
	left: 30px;
	transform: skew(-51deg);
}
.window-basic__windshield::after {
	background: linear-gradient(
		to top,
		rgba(242, 242, 244, 1) 0%,
		rgba(242, 242, 244, 1) 5.6%,
		#313236 5.6%,
		#313236 60%,
		#000 100%
	);
}
/* ======================================================================================================================================================== */
.block-basic__rear-part {
	width: 380px;
	height: 60px;
	background: rgba(242, 242, 244, 1);
	position: absolute;
	top: -22px;
	right: 17px;
	transform: translate(0px, -35%) rotate(9deg);
	border-radius: 0 50% 50% 0;
	z-index: 0;
	overflow: hidden;
}
.rear-part-basic {
}
.rear-part-basic__window {
	width: 200px;
	height: 6px;
	position: absolute;
	top: -2px;
	left: 74px;
	background: linear-gradient(to bottom, #c2c3c7 0%, #c2c3c7 50%, #202125 50%, #202125 100%);
	filter: blur(0.7px);
	transform: rotate(0.3deg);
	overflow: visible;
}
.rear-part-basic__window::before {
	content: "";
	border-left: 1px solid #c4c3c8;
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
}
.rear-part-basic__back-trunk {
	position: absolute;
	top: 8px;
	right: 50px;
}
.trunk-back {
	border: 1px solid #b7b6bb;
	width: 20px;
	height: 8px;
	transform: skew(-30deg);
	padding: 1px 5px;
	border-radius: 1px;
}
.trunk-back__decor {
	background-color: #212025;
	width: 100%;
	height: 100%;
	filter: blur(0.7px);
	border-radius: inherit;
}
/* ======================================================================================================================================================== */
.block-basic__front-light {
	height: 67px;
	width: 50px;
	background-color: #fff;
	position: absolute;
	bottom: 30px;
	left: 10px;
	transform: skew(-15deg) rotate(-5deg);
	border-radius: 62px 48px 94px 45px / 174px 14px 52px 57px;
	overflow: hidden;
	z-index: 2;
}
.block-basic__front-light > *:not(:last-child)::after {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -1px;
	left: 0;
	border-bottom: 2px dashed #000;
	filter: blur(0.6px);
}
.light-front__top {
	height: 16.75px;
	position: relative;
}
.light-front__section {
	position: relative;
	height: 16.75px;
	background: linear-gradient(to right, #fff 0%, #000 5%, #343436 100%);
}
/* ======================================================================================================================================================== */
.block-basic__back-light {
}
.back-front {
	position: absolute;
	top: 10px;
	right: 4px;
	height: 70px;
	width: 37px;
	transform: skew(7deg);
	border-radius: 10px 98px 39px 102px / 12px 257px 79px 335px;
	overflow: hidden;
	z-index: 2;
}
.back-front > *:not(:last-child)::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px solid #96959a;
	filter: blur(0.6px);
}
.light-back__top {
	height: 22px;
	background-color: #8e1111;
	position: relative;
}
.light-back__section {
	height: 16px;
	position: relative;
	background: linear-gradient(to right, #727473 0%, #727473 37%, #000 42%, #000 88%, #b7b7b9 95%, #b7b7b9 100%);
}
/* ======================================================================================================================================================== */
.page__clocks {
	padding: 100px 0px;
}
.clocks {
}
.clocks__row:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.clocks__block {
}
.clock-arrow {
}
.clock-arrow__body {
	height: 500px;
	width: 500px;
	background-color: rgb(36, 36, 36);
	border-radius: 50%;
	box-shadow: 0px 0px 25px 3px #000;
	padding: 20px;
	margin: 0px auto;
	position: relative;
}
.clock-arrow__bg {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	box-shadow: -50px -50px 70px #1ca633 inset, 50px 50px 70px #16e3a6 inset;
	padding: 2px;
	animation: shadow-clock-amin 10s infinite ease;
}
@keyframes shadow-clock-amin {
	0% {
		box-shadow: -50px -50px 70px #1ca633 inset, 50px 50px 70px #16e3a6 inset;
	}
	20% {
		box-shadow: 50px 50px 90px #1ca633 inset, -50px -50px 100px #16e3a6 inset;
	}
	40% {
		box-shadow: 50px -150px 40px #1ca633 inset, -150px 250px 120px #16e3a6 inset;
	}
	60% {
		box-shadow: -250px 150px 70px #1ca633 inset, 25px 50px 70px #16e3a6 inset;
	}
	80% {
		box-shadow: 50px -50px 90px #1ca633 inset, 150px -25px 40px #16e3a6 inset;
	}
	100% {
		box-shadow: -25px -25px 70px #1ca633 inset, 25px 25px 70px #16e3a6 inset;
	}
}
.clock-arrow__numbers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: rgba(36, 36, 36, 1);
}
.clock-arrow__num {
	position: absolute;
	font-size: 40px;
	color: rgb(135, 135, 135);
}
.clock-arrow__num:nth-child(1) {
	top: 15%;
	right: 30%;
	transform: translate(50%, -50%);
}
.clock-arrow__num:nth-child(2) {
	top: 30%;
	right: 15%;
	transform: translate(50%, -50%);
}
.clock-arrow__num:nth-child(3) {
	top: 50%;
	right: 8%;
	transform: translate(50%, -50%);
}
.clock-arrow__num:nth-child(4) {
	bottom: 30%;
	right: 15%;
	transform: translate(50%, 50%);
}
.clock-arrow__num:nth-child(5) {
	bottom: 15%;
	right: 30%;
	transform: translate(50%, 50%);
}
.clock-arrow__num:nth-child(6) {
	bottom: 8%;
	left: 50%;
	transform: translate(-50%, 50%);
}
.clock-arrow__num:nth-child(7) {
	bottom: 15%;
	left: 30%;
	transform: translate(-50%, 50%);
}
.clock-arrow__num:nth-child(8) {
	bottom: 30%;
	left: 15%;
	transform: translate(-50%, 50%);
}
.clock-arrow__num:nth-child(9) {
	left: 8%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.clock-arrow__num:nth-child(10) {
	top: 30%;
	left: 15%;
	transform: translate(-50%, -50%);
}
.clock-arrow__num:nth-child(11) {
	top: 15%;
	left: 30%;
	transform: translate(-50%, -50%);
}
.clock-arrow__num:nth-child(12) {
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.clock-arrow__arrows {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.clock-arrow__point {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(135, 135, 135);
	width: 2%;
	height: 2%;
	border-radius: 50%;
	z-index: 4;
}
.clock-arrow__arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 0 50%;
	transform: translate(0%, -50%) rotate(-90deg);
	height: 2px;
}
.clock-arrow__arrow_hours {
	width: 20%;
	z-index: 1;
	background-color: rgb(130, 130, 130);
	transform: translate(0%, -50%) rotate(-90deg);
	animation: clock-analog-hours 216000s infinite linear;
}
.clock-arrow__arrow_minute {
	width: 30%;
	z-index: 2;
	transform: translate(0%, -50%) rotate(24deg);
	background-color: rgb(199, 199, 199);
	animation: clock-analog-minute 3600s infinite linear;
}
.clock-arrow__arrow_second {
	width: 40%;
	background-color: rgb(94, 0, 0);
	z-index: 3;
	animation: clock-analog-second 60s infinite linear;
}
@keyframes clock-analog-second {
	0% {
		transform: translate(0%, -50%) rotate(-90deg);
	}
	100% {
		transform: translate(0%, -50%) rotate(270deg);
	}
}
@keyframes clock-analog-minute {
	0% {
		transform: translate(0%, -50%) rotate(24deg);
	}
	100% {
		transform: translate(0%, -50%) rotate(336deg);
	}
}
@keyframes clock-analog-hours {
	0% {
		transform: translate(0%, -50%) rotate(-90deg);
	}
	100% {
		transform: translate(0%, -50%) rotate(270deg);
	}
}
/* ======================================================================================================================================================== */
.clocks__balls {
}
.balls-clock {
}
.balls-clock__body {
	border: 1px solid #000;
	min-height: 500px;
	position: relative;
}
.balls-clock__ball {
	position: absolute;
	height: 400px;
	width: 1px;
	top: 0;
	left: 50%;
	background-color: #fff;
	transform-origin: 50% 0;
}
.balls-clock__ball::after {
	content: "";
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	animation: balls-color 10s infinite steps(1, start) 0.5s;
}
.balls-clock__ball:nth-child(1) {
	left: 39%;
	transform: rotate(30deg);
	animation: clock-balls-left 2s infinite linear;
}
.balls-clock__ball:nth-child(2) {
	left: 44.5%;
}
.balls-clock__ball:nth-child(3) {
}
.balls-clock__ball:nth-child(4) {
	left: 55.5%;
}
.balls-clock__ball:nth-child(3) {
	left: 61%;
	transform: rotate(-30deg);
	animation: clock-balls-right 2s infinite linear 1s;
}
@keyframes balls-color {
	0% {
		background-color: #fff;
	}
	10% {
		background-color: rgb(130, 57, 57);
	}
	20% {
		background-color: rgb(121, 184, 39);
	}
	30% {
		background-color: rgb(214, 151, 34);
	}
	40% {
		background-color: rgb(28, 26, 94);
	}
	50% {
		background-color: rgb(24, 86, 97);
	}
	60% {
		background-color: rgb(159, 167, 53);
	}
	70% {
		background-color: rgb(194, 149, 149);
	}
	80% {
		background-color: rgb(56, 13, 13);
	}
	90% {
		background-color: rgb(73, 26, 65);
	}
	100% {
		background-color: rgb(43, 11, 117);
	}
}
@keyframes clock-balls-left {
	0% {
		transform: rotate(30deg);
	}
	25% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(30deg);
	}
}
@keyframes clock-balls-right {
	0% {
		transform: rotate(-30deg);
	}
	25% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}
/* ======================================================================================================================================================== */

/* ====== FOOTER ========================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */
